html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.window {
  display: flex;
  height: 100%;
}

.window__pane {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.window__pane--left {
  max-width: 33%;
  border-right: 1px solid black;
}

.folder-button {
  all: unset;
  cursor: pointer;
  padding: 4px;
}

.folder-button:hover {
  background-color: lightgray;
}

/* Folder Tree Styles */
.folder-tree {
  display: flex;
  flex-direction: column;
}

.folder-tree__folder {
  margin: 4px 0 4px 16px;
}

.folder-tree__label {
  display: flex;
  align-items: center;
}

.folder-tree__folder--click-target:hover {
  background-color: lightgray;
}

/* Folder Content Styles */
.folder-contents__row {
  display: flex;
  align-items: center;
  width: 100%;
}

.folder-contents__row--header {
  border-bottom: 1px solid black;
}

.folder-contents__cell {
  flex: 1;
  padding: 4px 8px;
}

.folder-contents__cell--icon {
  text-align: right;
}

.folder-contents__cell--name {
  flex: 6;
}

.folder-contents__cell--date {
  flex: 3;
}

.folder-contents__cell--size {
  flex: 2;
}

.hidden {
  display: none;
}
