html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.window {
  display: flex;
  height: 100%;
}

.window__pane {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.window__pane--left {
  max-width: 33%;
  border-right: 1px solid black;
}

button {
  all: unset;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}

.hidden {
  display: none !important;
}

/* Folder Tree Styles */
.folder-tree {
  display: flex;
  flex-direction: column;
}

.folder-tree__folder {
  margin: 4px 0 4px 16px;
}

.folder-tree__folder.collapsed .folder-tree__icon--expanded,
.folder-tree__folder:not(.collapsed) .folder-tree__icon--collapsed,
.folder-tree__folder.collapsed > .folder-tree__folder {
  display: none;
}

.folder-tree__folder.collapsed .folder-tree__icon--collapsed {
  display: inline;
}

.folder-tree__label {
  display: flex;
  align-items: center;
}

.folder-tree__button--expand-collapse {
  padding: 0 4px;
}

/* Folder Content Styles */
.folder-contents__row {
  display: flex;
  align-items: center;
  width: 100%;
}

.folder-contents__row--header {
  border-bottom: 1px solid black;
}

.folder-contents__row--header:empty {
  display: none;
}

.folder-contents__cell {
  flex: 1;
  padding: 4px 8px;
}

.folder-contents__cell--icon {
  text-align: right;
}

.folder-contents__cell--name {
  flex: 6;
}

.folder-contents__cell--date {
  flex: 3;
}

.folder-contents__cell--size {
  flex: 2;
}
